$eos-gradient-wrap-margin: 5% 0;
$eos-gradient-display-percentae-width: 90%;
$eos-gradient-display-percentae-middle-margin: -5px;
$eos-gradient-box-margin: $eos-xs 0;
$eos-gradient-left-right-font-weight: 300;
$eos-gradient-left-right-font-margin: 0 $eos-m;
$eos-gradient-left-right-width: 20%;
$eos-gradient-left-right-before-after-height-width: $eos-l;
$eos-gradient-left-right-before-after-margin: 0 $eos-s;
$eos-gradient-container-height: $eos-l;
$eos-gradient-container-margin: $eos-s 0;
$eos-gradient-custom-media-query: 1130px;
$eos-gradient-left-right-percetange: 2%;

/* 500 to 500 */
$eos-gradient-1-1: linear-gradient(to right, $eos-bc-red-500 0%, $eos-bc-orange-500 100%);
$eos-gradient-1-2: linear-gradient(to right, $eos-bc-orange-500 0%, $eos-bc-yellow-500 100%);
$eos-gradient-1-3: linear-gradient(to right, $eos-bc-red-500 0%, $eos-bc-yellow-500 100%);
$eos-gradient-1-4: linear-gradient(to right, $eos-bc-pine-500 0%, $eos-bc-cerulean-500 100%);
$eos-gradient-1-5: linear-gradient(to right, $eos-bc-pine-500 0%, $eos-bc-green-500 100%);
$eos-gradient-1-6: linear-gradient(to right, $eos-bc-green-500 0%, $eos-bc-cerulean-500 100%);
$eos-gradient-1-7: linear-gradient(to right, $eos-bc-violet-500 0%, $eos-bc-cerulean-500 100%);
$eos-gradient-1-8: linear-gradient(to right, $eos-bc-violet-500 0%, $eos-bc-red-500 100%);
$eos-gradient-1-9: linear-gradient(to right, $eos-bc-pine-500 0%, $eos-bc-gray-1000 100%);
$eos-gradient-1-10: linear-gradient(to right, $eos-bc-gray-1000 0%, $eos-bc-cerulean-500 100%);
/* 100 to 100 */
$eos-gradient-2-1: linear-gradient(to right, $eos-bc-red-100 0%, $eos-bc-orange-100 100%);
$eos-gradient-2-2: linear-gradient(to right, $eos-bc-orange-100 0%, $eos-bc-yellow-100 100%);
$eos-gradient-2-3: linear-gradient(to right, $eos-bc-red-100 0%, $eos-bc-yellow-100 100%);
$eos-gradient-2-4: linear-gradient(to right, $eos-bc-pine-100 0%, $eos-bc-cerulean-100 100%);
$eos-gradient-2-5: linear-gradient(to right, $eos-bc-pine-100 0%, $eos-bc-green-100 100%);
$eos-gradient-2-6: linear-gradient(to right, $eos-bc-green-100 0%, $eos-bc-cerulean-100 100%);
$eos-gradient-2-7: linear-gradient(to right, $eos-bc-violet-100 0%, $eos-bc-cerulean-100 100%);
$eos-gradient-2-8: linear-gradient(to right, $eos-bc-violet-100 0%, $eos-bc-red-100 100%);
/* 500 to 100 */
$eos-gradient-3-1: linear-gradient(to right, rgba(13, 44, 64, 1), rgba(182, 192, 198, 0));
$eos-gradient-3-2: linear-gradient(to right, rgba(0, 192, 129, 1), rgba(224, 247, 240, 0));
$eos-gradient-3-3: linear-gradient(to right, rgba(0, 178, 226, 1), rgba(179, 232, 246, 0));
$eos-gradient-3-4: linear-gradient(to right, rgba(132, 23, 129, 1), rgba(218, 185, 217, 0));
$eos-gradient-3-5: linear-gradient(to right, rgba(220, 53, 69, 1), rgba(245, 194, 199, 0));
$eos-gradient-3-6: linear-gradient(to right, rgba(247, 92, 3, 1), rgba(253, 206, 179, 0));
$eos-gradient-3-7: linear-gradient(to right, rgba(255, 193, 7, 1), rgba(255, 236, 181, 0));
$eos-gradient-3-8: linear-gradient(to right, rgba(150, 148, 148, 1), rgba(224, 223, 223, 0));
