li
  a.dropdown-item(href='/installing-npm', data-event-category='Dropdown link', data-event-action='Installation instructions', data-event-label='Layout/Main-menu')
    i.eos-icons.md-18
      | library_books
    | Installation instructions
li
  a.dropdown-item(href='https://xd.adobe.com/spec/99755923-558d-4dc6-6635-82fa00f206b9-ef44/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Layout/Main-menu', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.md-18
      | open_in_new
    | Design specifications
