/* Typography
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
$eos-font-type-base: 'Lato', arial, helvetica, sans-serif;
$eos-font-type-headlines: 'Work Sans', arial, helvetica, sans-serif;
$eos-font-size-base: 14px;
$eos-font-weight-normal-base: 400;
$eos-font-weight-light-base: 300;
$eos-line-height: 1.5em;
