title= docTitle
meta(name='description', content=docDescription)
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(property='og:title', content='EOS Open Source Design System')
meta(property='og:type', content='website')
meta(property='og:url', content='http://www.eosdesignsystem.com')
meta(property='og:image', content='https://res.cloudinary.com/eosdesignsystem/image/upload/v1550833469/EOS/Social/eos-design-system.jpg')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='stylesheet', href='/spacewalk-font/spacewalk-font.css')
link(rel='stylesheet', href='/build/css/vendors.min.css')
link(rel='stylesheet', href='/stylesheets/application.css')
script(src='/build/js/vendors.min.js')
script(src='/javascripts/application.min.js')
//- Scripts not executed on development
- if ( process.env.NODE_ENV != 'development') {
  script(src='/javascripts/shared/gtm-head.js')
- }
