extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Smart tooltip
          p.subheadline
            | Display a truncated version of the text and show the full version inside of a tooltip.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.md-18 expand_more] Tooltip assets
            ul.dropdown-menu.dropdown-menu-right
              li
                a.dropdown-item(href='/installing-npm', data-event-category='Dropdown link', data-event-action='Smart tooltip code', data-event-label='Tooltips', target='_blank', rel='noreferrer nonopener')
                  i.eos-icons.md-18
                    | open_in_new
                  | jQuery component
    hr
    article
      section.margin-top-xxl
        h3
          | Truncate text
        p
          | Sometimes we need to show a long text (for example a long email address) but there isn't enough space in the element. The smart tooltip truncates the original text and adds a tooltip where the full content is displayed.
        p
          | For it, we created and implemented a truncation functionality
    article
      h3.margin-top-xxl
        | Example 1: truncate at characters count
      p
        | In some specific cases we want to truncate at characters length. Adding the `js-tooltip` class and data-truncate-characters=“count” data attribute will truncate it and add a tooltip to display the full text.

      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#secondary-button-examples', aria-controls='secondary-button-examples', role='tab', data-toggle='tab')
            | Truncate at 20 characters
      .tab-content
        #secondary-button-examples.tab-pane.active(role='tabpanel')
          .implementation-example
            .result
              span.js-tooltip(data-truncate-characters='20')
                | User-name-get-truncated-this-way-when-is-too-long-&Display-onToolTip

            .css-snippet-container
              .scss-snippet-btns
                i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                  | content_copy
              pre.prettyprint.js-snippet-code
                code
                  | &lt;span class='js-tooltip' data-truncate-characters='20'&gt;
                  |   User-name-get-truncated-this-way-when-is-too-long-&Display-onToolTip
                  | &lt;/span&gt;
      h3.margin-top-xxl
        | Example 2: truncate at a given length
      p
        | To truncate at a given length (in pixels) you just need to set the `js-tooltip` class and data-truncate-px=“{count}” data attribute to our element.

      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#secondary-button-examples', aria-controls='secondary-button-examples', role='tab', data-toggle='tab')
            | Truncate at 300px
      .tab-content
        #secondary-button-examples.tab-pane.active(role='tabpanel')
          .implementation-example
            .result
              span.js-tooltip(data-truncate-px='300')
                | User-name-get-truncated-this-way-when-is-too-long-&Display-onToolTip

            .css-snippet-container
              .scss-snippet-btns
                i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                  | content_copy
              pre.prettyprint.js-snippet-code
                code
                  | &lt;span class='js-tooltip' data-truncate-px='300'&gt;
                  |   User-name-get-truncated-this-way-when-is-too-long-&Display-onToolTip
                  | &lt;/span&gt;
