.loading-patterns {
  .snippet-code {
    height: auto;
  }

  .loading-gif-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    .gif-demo-wrap-shadow {
      box-shadow: $eos-loading-gif-demo-shadow;
    }
  }
}
