/* How to use variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$eos-example-1-background: $eos-bc-gray-1000;
$eos-example-1-color: $eos-bc-white;
$eos-example-2-border: $eos-bc-gray-500;
$eos-example-2-color: $eos-bc-gray-1000;
$eos-example-3-background: $eos-bc-violet-500;
$eos-example-3-color: $eos-bc-white;
$eos-example-4-background: $eos-bc-cerulean-500;
$eos-example-4-color: $eos-bc-gray-1000;
$eos-example-5-border: $eos-bc-gray-500;
$eos-example-5-color: $eos-bc-gray-1000;
$eos-example-5-color-hover: $eos-bc-pine-400;
$eos-example-5-span: $eos-bc-cerulean-900;
$eos-example-6-background: $eos-bc-yellow-900;
$eos-example-6-color: $eos-bc-gray-1000;
$eos-example-6-span-hover: $eos-bc-pine-400;
$eos-example-6-span: $eos-bc-pine-500;
$eos-example-7-background: $eos-bc-pine-500;
$eos-example-7-color: $eos-bc-white;
$eos-example-7-span: $eos-bc-green-500;
$eos-example-7-span-hover: $eos-bc-green-900;

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-how-to-max-width: 400px;
$eos-how-to-p-size: $eos-l - 4;
$eos-how-to-usage-example-margin-top: $eos-m;
$eos-how-to-title-p-margin-top: $eos-s;
$eos-how-to-wrap-p-padding: $eos-m;
$eos-how-to-wrap-span-margin-left: $eos-xs;
