li
  a.dropdown-item(href='/installing-npm', data-event-category='Dropdown link', data-event-action='Installation instructions', data-event-label='Buttons')
    i.eos-icons.md-18
      | library_books
    | Installation instructions
li
  a.dropdown-item(href='https://xd.adobe.com/view/16fe2627-2c73-470d-53a8-996eaa77abf7-60cf/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Buttons', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.md-18
      | open_in_new
    | Design specifications
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Components/Button/buttons.xd', data-event-category='Dropdown link', data-event-action='XD Download', data-event-label='Buttons', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.md-18
      | file_download
    | Adobe XD file
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/blob/master/eos-website-design/Components/Button/buttons-1.svg', data-event-category='Dropdown link', data-event-action='SVG Download', data-event-label='Buttons', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.md-18
      | file_download
    | SVG file 1
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/blob/master/eos-website-design/Components/Button/buttons-2.svg', data-event-category='Dropdown link', data-event-action='SVG Download 2', data-event-label='Buttons', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.md-18
      | file_download
    | SVG file 2
