extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Design kit
      p.subheadline
        | All the pieces and components of the EOS Design System in one single file to
        | facilitate the creation of design files.
      hr
    article
      .row
        .col-md-6.col-12.text-center.margin-bottom-l
          p.margin-bottom-xxl
            |Download the Adobe XD file
          a.margin-top-xxl(href='https://gitlab.com/SUSE-UIUX/eos-backup/raw/master/Resources/Design-kit.xd', target='_blank', rel='noreferrer nonopener')
            img.responsive(src='/images/design-kit/xd-logo.svg', alt='Boostrap - decorative')

        .col-md-6.col-12.text-center
          p.margin-bottom-xxl
            | Download the .SVG file
          a.margin-top-xxl(href='https://gitlab.com/SUSE-UIUX/eos-backup/raw/master/Resources/Design-kit.svg', target='_blank', rel='noreferrer nonopener')
            img.responsive(src='/images/design-kit/inkscape_logo.svg', alt='Adobexd and Inkscape logos - decorative')

      p.margin-top-xxl
        | This design kit is only meant to be used as a reference for designers to be able to
        | create design mockups using the components defined in the EOS Design System. It
        | doesn’t contain all the information needed to implement EOS in a product (writing
        | guides, how to implement icons, implementing patterns…). You’ll find this information
        | across the different sections of this website.
      p
        | Do not modify any element of the design kit rather than names.
      h4.margin-top-xxl
        | Using Adobe XD and SVG files
      p
        | For every element delivered within the design system you can also download an Adobe XD or SVG file so that you can use them when designing prototypes for your products.
      h4.margin-top-xxl
        | Dependencies
      ul
        li
          a(href='https://fonts.google.com/specimen/Work+Sans', data-event-category='External link', data-event-action='Lato link', data-event-label='Documentation/Design-specs', target='_blank', rel='noreferrer nonopener')
            | Work Sans
        li
          a(href='https://fonts.google.com/specimen/Lato', data-event-category='External link', data-event-action='Lato link', data-event-label='Documentation/Design-specs', target='_blank', rel='noreferrer nonopener')
            | Lato
        li
          a(href='https://icons.eosdesignsystem.com', data-event-category='External link', data-event-action='EOS Icons', data-event-label='Documentation/Design-specs', target='_blank', rel='noreferrer nonopener')
            | EOS-icons
