extends ../layouts/layout-main

block content
  .container
    h1
      | Implementing design specs
    p.subheadline
      | Learn how to inspect design specs in Adobe XD.
    hr
    article
      h2
        | View and inspect attributes
      p
        | Select an object in the artboard to inspect its measurements and styles.
        br
        |To find out the spacing between objects, select an object and hover the pointer over other objects in the artboard.
      p
        | When you select an artboard in the design specs link, all the unique
        | colors used in that artboard are shown in the #[strong Colors] section.
        | You can view the available color formats and use the drop-down list to select the format of your choice.
        | For example, if you prefer to work in HSLA, use the drop-down list to convert the color format to HSLA.
      p
        | You can also view all the unique character styles of an artboard in the #[strong Character Styles] section.
        br
        | To inspect the text properties in an artboard, select a line of text.
        | You can also copy text and its color from the #[strong Properties] panel.
      p
        | You can view and copy the CSS code of your design from the #[strong CSS snippets]
        | section. The CSS code is automatically generated when you select CSS #[strong Web]
        | as an output destination in the #[strong Share for Development] window when publishing design specs.
        br
        | To copy and paste the code snippet into your CSS files, press and drag the CSS snippets, switch to your code editor, and paste it.
      video.documentation-video-centered.margin-top-xxl(width='685', controls)
        source(src='https://res.cloudinary.com/eosdesignsystem/video/upload/c_scale,w_1280/v1565347705/EOS/videos/design_specs.mp4', type='video/mp4')

      h4.margin-top-xxl
        | Using Adobe XD and SVG files
      p
        | For every element delivered within the design system you can also download an Adobe XD or SVG file so that you can use them when designing prototypes for your products.
      h4.margin-top-xxl
        | Dependencies
      ul
        li
          a(href='https://fonts.google.com/specimen/Work+Sans', data-event-category='External link', data-event-action='Lato link', data-event-label='Documentation/Design-specs', target='_blank', rel='noreferrer nonopener')
            | Work Sans
        li
          a(href='https://fonts.google.com/specimen/Lato', data-event-category='External link', data-event-action='Lato link', data-event-label='Documentation/Design-specs', target='_blank', rel='noreferrer nonopener')
            | Lato
        li
          a(href='https://icons.eosdesignsystem.com', data-event-category='External link', data-event-action='EOS Icons', data-event-label='Documentation/Design-specs', target='_blank', rel='noreferrer nonopener')
            | EOS-icons
  article.articles-gallery
    .container
      h3.title-no-margings
        | Download software
      .row
        .col-md-6.margin-bottom-m
          a.card.card-horizontal(href='https://www.adobe.com/products/xd.html', target='_blank', rel='noreferrer nonopener')
            .card-content
              div
                h4
                  | Adobe XD
                p
                  | Adobe XD is free and available for
                  | Windows and MacOS. Download it here.
              div
                img.img-fluid.small-image(src='../images/documentation/adobe_xd.svg', alt='Adobe user experience application logo')
            span.card-icon
              i.eos-icons.md-18
                | file_download
            footer
              p
                | Download
        .col-md-6.margin-bottom-m
          a.card.card-horizontal(href='https://inkscape.org', target='_blank', rel='noreferrer nonopener')
            .card-content
              div
                h4
                  | Inkscape
                p
                  | For Linux OS we recommend you using Inkscape, which you can download here.
              div
                img.img-fluid.small-image(src='../images/colors/Inkscape.logo.svg', alt='Inkscape application logo')
            span.card-icon
              i.eos-icons.md-18
                | file_download
            footer
              p
                | Download
