.submenu.js-submenu-section
  //- Demo layout
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='examples')
    a.submenu-item.js-select-current(href='/examples/demo-layout.html')
      | Submenu 1
    a.submenu-item.js-select-current
      | Submenu 2
    a.submenu-item.js-select-current
      | Submenu 3
    a.submenu-item.js-select-current
      | Submenu 4
    a.submenu-item.js-select-current
      | Submenu 5
    a.submenu-item.js-select-current
      | Submenu 6
    a.submenu-item.js-select-current
      | Submenu 7
    a.submenu-item.js-select-current
      | Submenu 8
    a.submenu-item.js-select-current
      | Submenu 9

  //- Colors
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='colors')
    a.submenu-item.js-select-current.js-feature-flag(href='/colors', data-feature-flag= docEnabled['/colors'])
      | Colors
    a.submenu-item.js-select-current.js-feature-flag(href='/colors/usage', data-feature-flag= docEnabled['/colors/usage'])
      | Usage

  //- Icons
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='icons')
    a.submenu-item.js-select-current.js-feature-flag(href='/icons', data-feature-flag= docEnabled['/icons'])
      | Icons
    a.submenu-item.js-select-current.js-feature-flag(href='/icons/eos-icons-set', data-feature-flag= docEnabled['/icons/eos-icons-set'])
      | EOS icons set
    a.submenu-item.js-select-current.js-feature-flag(href='/icons/logo-icons-set', data-feature-flag= docEnabled['/icons/logo-icons-set'])
      | Logo icons set
    a.submenu-item.js-select-current.js-feature-flag(href='/icons/material-icons', data-feature-flag= docEnabled['/icons/material-icons'])
      | Material Design icons
    a.submenu-item.js-select-current.js-feature-flag(href='/icons/icon-ux', data-feature-flag= docEnabled['/icons/icon-ux'])
      | Icon UX
    a.submenu-item.js-select-current.js-feature-flag(href='/icons/arrows-usage', data-feature-flag= docEnabled['/icons/arrows-usage'])
      | Arrow icons usage

  //- Documentation: NPM
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='installing-npm')
    a.submenu-item.js-select-current.js-feature-flag(href='/installing-npm', data-feature-flag= docEnabled['/installing-npm'])
      | Installing EOS npm

  //- Documentation: Design Specs
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='design-specs')
    a.submenu-item.js-select-current.js-feature-flag(href='/design-specs', data-feature-flag= docEnabled['/design-specs'])
      | Implementing design specs

  //- Documentation - design-kit
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='design-kit')
    a.submenu-item.js-select-current.js-feature-flag(href='/design-kit', data-feature-flag= docEnabled['/design-kit'])
      | Design kit

  //- Writing guides
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='writing')
    a.submenu-item.js-select-current.js-feature-flag(href='/writing', data-feature-flag= docEnabled['/writing'])
      | Writing guides
    a.submenu-item.js-select-current.js-feature-flag(href='/writing/brand-voice', data-feature-flag= docEnabled['/writing/brand-voice'])
      | Brand voice
    a.submenu-item.js-select-current.js-feature-flag(href='/writing/brand-tone', data-feature-flag= docEnabled['/writing/brand-tone'])
      | Brand tone
    a.submenu-item.js-select-current.js-feature-flag(href='/writing/ux-writing', data-feature-flag= docEnabled['/writing/ux-writing'])
      | UX writing
    a.submenu-item.js-select-current.js-feature-flag(href='/writing/conventions-and-rules', data-feature-flag= docEnabled['/writing/conventions-and-rules'])
      | Conventions and rules
    a.submenu-item.js-select-current.js-feature-flag(href='/writing/acronyms', data-feature-flag= docEnabled['/writing/acronyms'])
      | Acronyms

  //- Buttons
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='buttons')
    a.submenu-item.js-select-current.js-feature-flag(href='/buttons', data-feature-flag= docEnabled['/buttons'])
      | Buttons
    a.submenu-item.js-select-current.js-feature-flag(href='/buttons/icon-buttons', data-route= '/buttons/icon-buttons', data-feature-flag= docEnabled['/buttons/icon-buttons'])
      | Icon buttons
    a.submenu-item.js-select-current.js-feature-flag(href='/buttons/sizing', data-route= '/buttons/sizing', data-feature-flag= docEnabled['/buttons/sizing'])
      | Sizing
    a.submenu-item.js-select-current.js-feature-flag(href='/buttons/positioning', data-route= '/buttons/positioning', data-feature-flag= docEnabled['/buttons/positioning'])
      | Positioning
    a.submenu-item.js-select-current.js-feature-flag(href='/buttons/usage', data-route= '/buttons/usage', data-feature-flag= docEnabled['/buttons/usage'])
      | Usage

  //- Patterns
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='patterns')
    a.submenu-item.js-select-current.js-feature-flag(href='/patterns', data-feature-flag= docEnabled['/patterns'])
      | Patterns
    a.submenu-item.js-select-current.js-feature-flag(href='/patterns/common-actions', data-feature-flag= docEnabled['/patterns/common-actions'])
      | Common actions
    a.submenu-item.js-select-current.js-feature-flag(href='/patterns/loading', data-route= '/patterns/loading', data-feature-flag= docEnabled['/patterns/loading'])
      | Loading
    a.submenu-item.js-select-current.js-feature-flag(href='/patterns/spacing', data-route= '/patterns/spacing', data-feature-flag= docEnabled['/patterns/spacing'])
      | Spacing
    a.submenu-item.js-select-current.js-feature-flag(href='/patterns/date-time', data-route= '/patterns/date-time', data-feature-flag= docEnabled['/patterns/date-time'])
      | Date & time

  //- Alerts
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='alerts')
    a.submenu-item.js-select-current.js-feature-flag(href='/alerts', data-feature-flag= docEnabled['/alerts'])
      | Alerts
    a.submenu-item.js-select-current.js-feature-flag(href='/alerts/global', data-route= '/alerts/global', data-feature-flag= docEnabled['/alerts/global'])
      | Global
    a.submenu-item.js-select-current.js-feature-flag(href='/alerts/section', data-route= '/alerts/section', data-feature-flag= docEnabled['/alerts/section'])
      | Section
    a.submenu-item.js-select-current.js-feature-flag(href='/alerts/inline', data-route= '/alerts/inline', data-feature-flag= docEnabled['/alerts/inline'])
      | Inline
    a.submenu-item.js-select-current.js-feature-flag(href='/alerts/usage', data-route= '/alerts/usage', data-feature-flag= docEnabled['/alerts/usage'])
      | Usage

  //- Layout
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='layout')
    a.submenu-item.js-select-current.js-feature-flag(href='/layout', data-feature-flag= docEnabled['/layout'])
      | Layout
    a.submenu-item.js-select-current.js-feature-flag(href='/layout/main-menu', data-route= '/layout/main-menu', data-feature-flag= docEnabled['/layout/main-menu'])
      | Main menu
    a.submenu-item.js-select-current.js-feature-flag(href='/layout/submenu', data-route= '/layout/submenu', data-feature-flag= docEnabled['/layout/submenu'])
      | Submenu
    a.submenu-item.js-select-current.js-feature-flag(href='/layout/footer', data-route= '/layout/footer', data-feature-flag= docEnabled['/layout/footer'])
      | Footer

  //- Links
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='links')
    a.submenu-item.js-select-current.js-feature-flag(href='/links', data-feature-flag= docEnabled['/links'])
      | Links

  //- Tooltips
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='tooltips')
    a.submenu-item.js-select-current.js-feature-flag(href='/tooltips', data-feature-flag= docEnabled['/tooltips'])
      | Tooltips
    a.submenu-item.js-select-current.js-feature-flag(href='/tooltips/smart-tooltips', data-feature-flag= docEnabled['/tooltips/smart-tooltips'])
      | Smart tooltips

  //- Typography
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='typography')
    a.submenu-item.js-select-current.js-feature-flag(href='/typography', data-feature-flag= docEnabled['/typography'])
      | Typography

  //- Dashboard
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='')
    a.submenu-item.js-select-current.js-feature-flag(href='/', data-feature-flag= docEnabled['/'])
      | Home

  //- Responsive nav
  .dropdown.dropdown-more.js-submenu-more
    a.submenu-item.dropdown-toggle(data-toggle='dropdown')
      i.eos-icons.md-24
        | more_horiz
    ul.dropdown-menu.dropdown-menu-left.js-submenu-content
      li
        span More
      li.js-submenu-more-list
//- Demo user-profile
  .user-profile.js-user-profile.dropdown
    .dropdown-toggle(data-toggle='dropdown')
      i.eos-icons.md-24
        | account_circle
    ul.dropdown-menu.dropdown-menu-right
      li.user-name
        strong.js-tooltip(data-truncate-characters=20)
          | User-name-get-truncated-this-way-when-is-too-long-&Display-onToolTip
        span.js-tooltip(data-truncate-px=160)
          | User-name-get-truncated-this-way-when-is-too-long-&Display-onToolTip@something.com
      li
        a.dropdown-item
          i.eos-icons.md-18
            | edit
          | Edit profile
        a.dropdown-item
          i.eos-icons.md-18
            | settings
          | Settings
        a.dropdown-item
          i.eos-icons.md-18
            | subscriptions
          | My subscriptions
      li
        a.dropdown-item
          i.eos-icons.md-18
            | exit_to_app
          | Logout
