extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Submenu
          p.subheadline
            | The submenu is secondary menu. It is a menu that is contained within main menu.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.md-18 expand_more] Layout assets
            ul.dropdown-menu.dropdown-menu-right
              include ./shared/assets.pug
    hr
    article.margin-top-xxl
      h3
        | Description
      ul
        li
          | The submenu is positioned at the top of the screen and right of the main menu.
        li
          | The submenu sticks to the top of the screen. When a user scrolls down, the submenu will remain on the top position.
        li
          | It contains a list of items which are available within selected item from the main menu.
        li
          | The maximum number of items in submenu is 7. If items exceed that number,
          | the remaining items will appear as a dropdown list within the #[i.eos-icons.md-18 more_horiz] icon.
        li
          | It should always display the maximum number of visible items (but never more than
          | 7 in big screens) according to the size of the screen. The submenu should
          | calculate the available space and move items into the #[i.eos-icons.md-18 more_horiz] dropdown as they exceed the size.
    article.margin-top-xxxl
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#responsive-breakpoint-1', aria-controls='responsive-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1336px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-2', aria-controls='responsive-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1335px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-3', aria-controls='responsive-breakpoint-3', role='tab', data-toggle='tab')
            | 360px - 769px
      .tab-content
        #responsive-breakpoint-1.tab-pane.active(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/submenu-greater-1336.svg')
        #responsive-breakpoint-2.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/submenu-770-1335.svg')
        #responsive-breakpoint-3.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/submenu-360-769.svg')
    article.margin-top-xxl
      h3
        | Usermenu dropdown
      ul
        li
          | On the right side of the submenu there is the confer the user menu. On click it shows a menu contains the different related sections
          img.margin-top-xxl.img-fluid.mx-auto.d-block(src='/images/layout/user-dropdown.svg')
      li
        | The links of the dropdown menu become #00C081 on mouseover.
        img.margin-top-xxl.img-fluid.d-block(src='/images/layout/user-dropdown-mouse-hover.svg')
      li
        | When the length of other elements of the submenu exceed the available space
        img.margin-top-xxl.img-fluid.d-block(src='/images/layout/user-dropdown-length.svg')
      li
        | In case the user name or the email in this menu would be larger than the available space the text would be truncated with 3 dots “…”
        | When this happen a tooltip appears on mouseover showing the full content of the truncated text:
        code
          | bootstrap tooltip
        img.margin-top-xxl.img-fluid.d-block(src='/images/layout/user-dropdown-tooltip.svg')
